################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/TheraGuide/*/obj/*
/TheraGuide/*/bin/*
/TheraGuide/*/*/obj/*
/TheraGuide/*/*/bin/*

/TheraGuide/obj/Debug/*
/TheraGuide/bin/Debug/*
